body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*header section end*/
header{
	background-color: #FFD846;
	padding: 15px 0;
}
.nav_custom{
	padding:0.5rem 0rem !important;
}
.manu ul li a{
	text-align: right;
	font-weight: 700 !important;
	font-size: 22px !important;
	color: #010101 !important;
	padding: 0 35px !important;
	transition: .5s;
}
.manu ul li:last-child a{
	padding-right: 0 !important;
}
.manu ul li a:hover{
	color: #fff !important;
}
/*header section end*/
/*slider section start*/
.slider{
	background-color: #FFD846;
	padding-bottom: 100px;
}
.carousel-custom {
    bottom: -80px !important;
}
.carousel-custom li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.inspire{
	margin-top: 50px;
}
.inspire h1{
	font-weight: 700 !important;
	font-size: 32px !important;
	color: #010101 !important;
	margin-bottom: 25px;
}
.inspire h2{
	font-weight: 400 !important;
	font-size: 20px !important;
	color: #313841 !important;
	margin-bottom: 20px;
}
.inspire p{
	color: #555555;
	margin-bottom: 20px;
}
.inspire ul li{
	font-weight: 400;
	font-size: 42px;
	color: #010101;
	margin-right: 40px !important;
}
/*slider section end*/

/*service section start*/
/*seame paddin all section*/
.same_pd{
	padding-top: 100px;
	padding-bottom: 120px;
}
.service{}
/*common_content start*/
.common_content{}
.common_content h1{
	font-weight: 700;
	font-size: 32px;
	color: #010101;
}
.common_content h4{
	font-weight: 400;
	font-size: 20px;
	color: #313841;
	word-spacing: 2px;
}
/*common_content end*/
.service_all{}
.service_single{}
.service_single i{
	font-size: 40px;
    margin-top: 5px;
}
.service_single h4{
	font-weight: 400;
	font-size: 22px;
}
.service_single p{
	font-size: 16px;
	color: #898989;
}
.mb_service{
	margin-bottom: 90px;
}
/*service section end*/
/*kepp section start */
.keep{
	background: #010101;
}
/*common post start*/
.color_1{
	color: #fcdb00 !important;
}
.color_2{
	color: #898989 !important;
}
/*common post end*/
/*keep form section start*/
.keep_form{
	margin-bottom: 70px;
}
.keep_form input {
    height: 54px;
    padding: 0px 20px;
    color: #898989;
}
.keep_form button {
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 35px;
    border-radius: 5px;
    background: #fcdb00;
    border: 2px solid #fcdb00;
}
/*keep form section end*/
/*keep social start*/
.keep_social{}
.keep_social a i {
	font-size: 40px;
	color: #010101;
    width: 50px;
    height: 45px;
    background: #f8db04;
    border-radius: 10px;
    transition: .5s;
    margin-right: 30px;
    padding-top: 5px;
}
.keep_social a i:hover{
	color: #f8db04;
	background: #fff;
}
/*keep social end*/
/*keep section end */
/*footer section start*/
footer{
	background: #010101;
	color: #fff !important;
	padding-bottom: 100px;
}

.nav_list {}
.nav_list li{}
.nav_link{
	padding: 0;
	color: #fff !important;
	transition: .4s;
}
.nav_link:hover{
	color: #f8db04 !important;
	text-decoration: underline;;
}
/*footer section end*/